@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-grid {
  background: 
    linear-gradient(180deg, #0a0e27 0%, #0c1125 100%),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgba(37, 150, 190, 0.03) 10px,
      rgba(37, 150, 190, 0.03) 20px
    );
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Di global CSS atau tailwind config */
.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.min-h-screen-safe {
  min-height: calc(100vh - env(safe-area-inset-top));
}